<!DOCTYPE "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="/calculator-result-post" method="POST">
		<input name="first" type="number" placeholder="Prima valoare">
		<input name="second" type="number" placeholder="A doua valoare">
		<input type="submit" value="Calculeaza">
	</form>
	
	<p th:text=${result}></p>
</body>
</html>